.scale-in-center {
    animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @keyframes scale-in-center {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
  }


  .bg-marker{
    background-color: #ff0000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    padding:2px;
    box-sizing: border-box;
    animation: scale-in-center 2s infinite;
  }

  .scale-in-center {
    animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes scale-in-center {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}